@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500;1,700&family=Press+Start+2P&family=Share+Tech+Mono&family=Staatliches&display=swap');
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    background-color: white;
    min-width: 1080px;
    overflow-x: hidden;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: black;
}

h1 {
    font-family: "Press Start 2P", monospace;
    padding: 45px;
    text-align: center;
    font-size: 70px;
    color: #ff5e00;
    background-color: white;
    padding-top: 65px;
}


h2 {
    font-family: "Press Start 2P", cursive;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #ff5e00;
}

p {
    margin-bottom: 20px;
}

#nav_bar {
    left: 0px;
    height: 38px;
    border-top: 2px solid rgb(37, 37, 37);
    border-bottom: 2px solid rgb(37, 37, 37);
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 6px;
    background-color: white;
}

#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#nav_bar ul li {
    margin: 0;
    padding: 0;
    float:left;
    border-left: 2px solid rgb(37, 37, 37);
}

#nav_bar ul li a {
    text-decoration: none;
    margin: 6px 70px;
    display: block;
    color: rgb(37, 37, 37);
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
}

li a:hover {
    opacity: 0.5;
    transition-duration: 0.4s;
  }

#intro_photo {
    position: relative;
    width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

#intro {
    position: relative;
    text-align: center;
    color: white;
}

#quote {
    position: absolute;
    top: 30%;
    right: 5%;
    text-align: right;
    margin-right: 30px;
    font-size: 100px;
    font-family: "Share Tech Mono", monospace;
    opacity: 0.7;
    width: 100%;
    font-weight: 400;
}

.block {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.block_text {
    margin-top: 60px;
    width: 35%;
    margin-left: 0px;
    display: inline-block;
}

#about_text_photo {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 100px;
    width: 40%;
    border-radius: 20px;
    background-color: black;
}

#highlight{
    font-family: "Share Tech Mono", monospace;
    font-size: 18px;
}