@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500;1,700&display=swap');
html {
    background-color: white;
}

body {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: black;
    height: 300;
}

h1 {
    height: 90px;
    padding: 15px;
    margin: 0;
    width: 100%;
    left: 0px;
    text-align: center;
    font-size: 60px;
    font-family: "Permanent Marker", sans-serif;
}

#bar {
    left: 0px;
    height: 45px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    overflow: auto;
    margin-bottom: 7px;
    background-color: white;
}

#bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#bar ul li {
    margin: 0;
    padding: 0;
    float:left;
}

#bar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: black;
    text-align: center;
    font-size: medium;
    font-weight: 300;
}

li a:hover {
    opacity: 0.5;
    transition-duration: 0.4s;
  }

#about_photo {
    position: relative;
    width: 100%;
    -webkit-filter: blur(6px);
}