@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap');
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    background-color: white;
    min-width: 1080px;
    overflow-x: hidden;
}

h1 {
    font-family: "Orbitron", sans-serif;
    padding: 15px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
}

body {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: black;
    height: 300;
}

#bar {
    left: 0px;
    height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: white;
}

#bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#bar ul li {
    margin: 0;
    padding: 0;
    float:left;
}

#bar ul li a {
    text-decoration: none;
    margin: 6px 70px;
    display: block;
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    overflow-x: hidden;
}

li a:hover {
    opacity: 0.5;
    transition-duration: 0.4s;
  }

#intro_photo {
    position: relative;
    width: 100%;
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

#intro {
    position: relative;
    text-align: center;
    color: white;
}

#quote1 {
    position: absolute;
    top: 25%;
    right: 5%;
    text-align: right;
    margin-right: 30px;
    font-size: 130px;
    font-family: "Staatliches", sans-serif;
    opacity: 0.4;
    width: 100%;
    color: white;
}

#quote2 {
    position: absolute;
    top: 45%;
    right: 5%;
    text-align: right;
    margin-right: 30px;
    font-size: 130px;
    font-family: "Staatliches", sans-serif;
    opacity: 0.4;
    width: 100%;
    color: white;
}

h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    color: red;
}

p {
    margin-bottom: 20px;
}

#about_me {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#about_text {
    margin-top: 10px;
    width: 35%;
    margin-left: 0px;
    display: inline-block;
}

#about_text_photo {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 100px;
    width: 40%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    border-radius: 10px;
}